@using ProteinApp.Models;
@using System
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager


@page "/buy"
<h4>Buy Now page</h4>
<PageTitle>Buy Now</PageTitle>
<link rel="stylesheet" href="~/css/buynow.css">


@code {
 
}
