@inject NavigationManager navManager
@page "/emptycart"
<PageTitle>Shopping Cart</PageTitle>
<link rel="stylesheet" href="~/css/CartEmpty.css">
<body>
    <div class="mainBox">
    <div class="cartimage"></div>
    <h4 class="text1">Your Cart is Empty</h4>
    <h6 class="text2">Looks like you have not added anything to your cart.
        
    </h6>
    <h6 class="text3">Go ahead & explore top categories.</h6>
    </div>
</body>

@code{

}