@inject NavigationManager navManager
@page "/productdetails"
<PageTitle>Product Detail</PageTitle>
<link rel="stylesheet" href="~/css/productdetail.css">
<body>
    <div class="mdiv">
        <div class="picdiv">
            <div class="pic"></div>
        </div>
        <div class="contentdiv">
            <h2 class="title">Product Name</h2>
            <h5 class="subtitle">This is the product subtitle</h5>
            <p class="description">Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer 
                took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</body>

@code {

}
