@page "/signup"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
<PageTitle>Register</PageTitle>
<link rel="stylesheet" href="~/css/signup.css">
<div class="mainDiv">
    <div class="HalfPic"></div>
    <div class="HalfContent">
        <div class="Logo"></div>
      
                <input placeholder="Full Name" type="text" class="inputfield" @bind-value="name"/>
            
          
                <input placeholder="Email address" type="text" class="inputfield" @bind-value="email"/>
           
          
                <input placeholder="Password" type="password" class="inputfield" @bind-value="password"/>
        <div class="Buttondiv" @onclick="Signup">
            <p class="logintext">Register</p>
        </div>

        <div class="signupline">
            <p>Already have an account? </p>
            <span @onclick="NavigateToLogin" class="signuptext"> Login</span>
        </div>
    </div>
        </div>
        
   
@code {
    private string name;
    private string email;
    private string password;

    private void NavigateToLogin()
    {
        navManager.NavigateTo("/login");
    }

    private void Signup()
    {
        if (string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password) || string.IsNullOrWhiteSpace(name))
        {
            ShowPopup("All fields are required.");
        }
        else
        {
            ShowPopup("Account Registered Successfully");
        }
    }
    private async Task ShowPopup(string message)
    {
        await JSRuntime.InvokeVoidAsync("alert", message);
    }

}
